*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header1{
    font-size: 4rem;
}
.p1{
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.select{
    margin-bottom: 15px;
}
.check{
    margin-bottom: 15px;
}